@import url("../../../style/variables.css");
@import url("../../../style/global.css");




.header-personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #ccc;
}

.header-personal h1 {
  font-size: var( --fonte-titulo);
  color: var(--cor-preta);
}

.navigation-personal {
  display: flex;
  gap: 20px;
}

.navigation-personal-link{
  text-decoration: none;
  color: var(--cor-primaria);
  font-weight: bold;
}


.logout{
  color: var(--cor-vermelho-forte);
  text-decoration: none;
  font-weight: bold;
}

.navigation-personal-link:hover,.logout:hover  {
  text-decoration: underline;
}


