/* Container geral */
.container-pai-cadastro-login-personal{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
}

/* Caixa do formulário */
.login-cadastro-personal-form-container{
  width: 100%;
  max-width: 500px;
  background: linear-gradient(135deg, #004aad, #001f5c);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
}

/* Título */
.login-cadastro-personal-form-container h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

/* Formulário */
.login-personal-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Grupo de entrada */
.login-personal-input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

/* Rótulo dos campos */
.login-cadastro-personal-label {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

/* Campos de input */
.login-cadastro-personal-input-select{
  padding: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f0f8ff;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  
}

.login-cadastro-personal-input-select:focus {
  border-color: #00b4d8;
  outline: none;
  background-color: #e0f7fa;
}

/* Botão */
.login-personal-btn {
  background-color: #00b4d8;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.login-personal-btn:hover {
  background-color: #0077b6;
  transform: translateY(-2px);
}

.login-personal-btn:active {
  transform: translateY(2px);
}

/* Link de registro */
.login-personal-register-link {
  margin-top: 1rem;
  font-size: 1rem;
  color: #fff;
}

.login-personal-link {
  color: #f1f1f1;
  text-decoration: underline;
}

.login-personal-link:hover {
  color: #f0f0f0;
}


@media (max-width: 600px) {
  .login-personal-form-container {
    padding: 1.5rem;
  }

  .login-personal-title {
    font-size: 1.8rem;
  }
}
