  /* Lista de treinos */
  .container-aluno-unico-lista-treino {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .container-aluno-unico-treino {
    background: var(--cor-cinza);
    border: 1px solid var(--cor-cinza);
    border-radius: 0.5rem;
  }

/* Botão */

.BTN-adiciona {
  background: var(--cor-verde);
  color: var(--cor-branca);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: var(--fonte-texto);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.BTN-adiciona:hover {
  background: var(--cor-verde);
  opacity: 0.8;
}

.BTN-remove {
  background: var(--cor-vermelho-forte);
  color: var(--cor-branca);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: var(--fonte-texto);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.BTN-remove:hover {
  background: var(--cor-vermelho-forte);
  opacity: 0.8;
}

.BTN-link-redirecionamento{
    background: var(--gradiente-primario);
    color: var(--cor-branca);
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    font-size: var(--fonte-texto);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  .msg-nenhum-exercicio{
    font-size: var(--fonte-texto);
    color: var(--cor-cinza-escura);
    text-align: center;
    padding: 1rem;
    background: var(--cor-vermelho-forte);
    color: var(--cor-branca);
    border-radius: 6px;
    font-weight: bold;
  }

