:root {
  /* Paleta de Cores Primárias */
  --primary-color: #007bff; /* Azul principal */
  --primary-color-hover: #0056b3; /* Azul mais escuro para hover */
  --secondary-color: #6c757d; /* Cinza secundário */

  /* Paleta de Cores de Fundo */
  --background-color: #f8f9fa; /* Fundo claro */
  --background-dark: #343a40; /* Fundo escuro */

  /* Paleta de Cores de Texto */
  --text-color: #212529; /* Cor principal do texto */
  --text-muted: #6c757d; /* Texto desativado */

  /* Cores de Alerta */
  --success-color: #28a745; /* Verde para sucesso */
  --error-color: #dc3545; /* Vermelho para erro */
  --warning-color: #ffc107; /* Amarelo para aviso */

  /* Gradientes */
  --gradient-primary: linear-gradient(90deg, #007bff, #0056b3);
}

