:root {
  /* Cores */
  --cor-primaria: #004aad;
  --cor-primaria-escura: #001f5c;
  --cor-branca: #ffffff;
  --cor-preta: #333333;
  --cor-cinza-clara: #f9f9f9;
  --cor-cinza: #dddddd;
  --cor-cinza-escura: #555555;
  --cor-verde: #45a049;
  --cor-verde-claro: #4CAF50;
  --cor-vermelho-forte: #FF0000;

  /* Gradientes */
  --gradiente-primario: linear-gradient(135deg, var(--cor-primaria), var(--cor-primaria-escura));

  /* Fontes */
  --fonte-titulo: 1.8rem;
  --fonte-subtitulo: 1.5rem;
  --fonte-texto: 1rem;
  --fonte-destaque: 1.2rem;
}
