@import url("../../../style/variables.css");
@import url("../../../style/global.css");


  
  .titulo-exercicios {
    font-size: var(--fonte-titulo);
    font-weight: bold;
    color: var(--cor-primaria);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .lista-exercicios {
    list-style: none;
    padding: 0;
  }
  
  .item-exercicio {
    font-size: var(--fonte-texto);
    padding: 1rem;
    background: var(--cor-branca);
    border: 1px solid var(--cor-cinza);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    transition: background 0.3s ease;
  }
  
  .item-exercicio:hover {
    background: var(--cor-cinza);
  }
  
  .link-exercicio {
    color: var(--cor-primaria);
    text-decoration: none;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    transition: 0.3s ease;
    cursor: pointer;
  }

  
  .link-exercicio:hover {
    background: var(--cor-primaria);
    color: var(--cor-branca);
  }

  .item-exercicio p {
    font-size: var(--fonte-texto);
    color: var(--cor-preta);
    margin: 0;
    flex: 1; 
    font-weight: 500;
  }
  
  
  .msg-nenhum-exercicio {
    font-size: var(--fonte-texto);
    color: var(--cor-cinza-escura);
    text-align: center;
    padding: 1rem;
    background: var(--cor-vermelho-forte);
    color: var(--cor-branca);
    border-radius: 6px;
    font-weight: bold;
  }
  