@import url("../../../style/variables.css");
@import url("../../../style/global.css");


  
 
  .container-aluno-unico {
    background: var(--cor-branca);
    border: 1px solid var(--cor-cinza);
    border-radius: 0.8rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
  }
  

  .container-aluno-unico h3 {
    color: var(--cor-preta);
    font-size: var(--fonte-titulo);
    margin-bottom: 1rem;
    text-align: center;
  }
  

  .container-aluno-unico-links {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    flex-wrap: wrap;
  }
  
  
  
  .container-aluno-unico-treino {
    transition: all 0.3s ease;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .container-aluno-unico-treino.expandido {
    height: auto; 
    padding: 20px;
    background-color: #f0f0f0;
    border-color: #888;
    transition: all 0.3s ease;
  }

  .container-treino-nome{
    display: flex;
    justify-content: space-between;
  }

  .classes-treino-nome-button{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .BTN-expandir{
    cursor: pointer;
  }
  
  .detalhes-treino {
    margin-top: 10px;
  }
  
  .exercicios-treino {
    padding-left: 20px;
  }
  

  @media (max-width: 768px) {
    .container-aluno-unico-links {
      justify-content: center;
      margin:  0 0 1.5rem;
      gap: 10px;
    }
  }