@import url("../../../style/variables.css");
@import url("../../../style/global.css");

.container-lista-aluno {
  background: var(--cor-branca);
  border: 1px solid var(--cor-cinza);
    padding: 4rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
  }
  
  .form-busca-aluno {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .input-busca-aluno {
    width: 100%;
    max-width: 30rem;
    padding: 0.8rem;
    font-size: var(--fonte-texto);
    border: 1px solid var(--cor-cinza);
    border-radius: 0.5rem;
    background: var(--cor-branca);
    color: var(--cor-preta);
  }
  
  .input-busca-aluno:focus {
    outline: none;
    border-color: var(--cor-primaria);
    box-shadow: 0 0 5px var(--cor-primaria);
  }
  
  .container-todos-alunos {
    margin-top: 2rem;
  }
  
  .container-todos-alunos h2 {
    font-size: var(--fonte-titulo);
    color: var(--cor-primaria-escura);
    margin-bottom: 1rem;
  }
  
  .lista-dados-alunos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--cor-cinza);
    border-radius: 0.5rem;
    background: var(--cor-branca);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
    text-decoration: none;
  }
  
  .lista-dados-alunos:hover {
    background: var(--cor-cinza-clara);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .lista-dados-alunos p {
    font-size: var(--fonte-texto);
    color: var(--cor-preta);
    margin: 0;
  }
  
  .lista-dados-alunos p:nth-child(1) {
    font-weight: bold;
    font-size: var(--fonte-destaque);
    color: var(--cor-primaria);
  }

  @media (max-width: 768px) {
    .container-lista-aluno {
      padding: 2rem; 
    }
  }
  